<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Browser</title>
</head>

<body>
  <h1>
    Write, edit and run HTML, CSS and JavaScript code online.
  </h1>
  <p>
    Our HTML editor updates the webview automatically in real-time as you write code.
  </p>
  <form method="POST" id="blocklyDiv" style="height: 480px; width: 1300px;" >
    testando
    <input id="result" type="hidden" name="code" >
    <input type = "submit" value = "Submit" />
  </form>
  <script src="https://unpkg.com/blockly"></script>
  <script src="https://unpkg.com/blockly/python_compressed"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>